/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GRID */
.column { float: left; }
.grid2col, .grid2cola, .grid3col, .grid3cola { width: 100%; }
.grid2col, .grid4col { margin-bottom: 16px; }
.grid2col .column { width: 42%; border: 1px solid #000; padding: 0 16px 0 16px; }
.grid2col .column:last-of-type { margin-left: 2%; }
.grid2cola .column.first { width: 20%; border-right: 2px solid #000; }
.grid2cola .column.last { width: 78%; }
.grid3col .column { width: 32%; margin-left: 2%; }
.grid4col .column { width: 17%; margin-left: 9%; }
.grid4col .column:first-of-type {margin-left: 0; }
.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; }

/* CUSTOM STYLES */
html { background-color: #fff;}
body {
	max-width: 1080px;
	background-color: #f4f4f4;
	margin: 0 auto 16px auto;
	-webkit-box-shadow: 0 1px 8px;
	-moz-box-shadow: 0 1px 8px;
	-o-box-shadow: 0 1px 8px;
	box-shadow: 0 1px 8px;
}
a { text-decoration: none; }
p { font-size: 14px; }
h1 { display: inline-block; font-weight: 200; }
section:first-of-type header { position: relative; padding: 0 10px 0 10px }
section:first-of-type header nav:first-of-type, section:first-of-type header nav:nth-of-type(3n-1) {
	position: absolute;
	right: 0;
}
section:first-of-type header nav:first-of-type { top: 0; }
section:first-of-type header nav:first-of-type a { font-size: 14px; margin-right: 10px; text-decoration: underline; }
section:first-of-type header nav:first-of-type a:nth-of-type(3n-1) { margin-left: 5px; }
section:first-of-type header nav:nth-of-type(3n-1) { bottom: 0; }
section:first-of-type header nav:nth-of-type(3n-1) a {
	color: #fff;
	background-color: #ccc;
	margin-right: 10px;
	padding: 10px 10px 2px 10px;
	border-radius: 6px 6px 0 0;
}
section:first-of-type header nav:nth-of-type(3n-1) a.active { background-color: #4f4f4f; }
.hero {
	background-color: #4f4f4f;
	text-align: center;
	padding: 40px;
}
.hero h2 { color: #fff; font-weight: 200; margin: 0; }
section:nth-of-type(3n-1) nav { padding-left: 16px; }
section:nth-of-type(3n-1) nav a { font-size: 14px; display: inherit; }
section:nth-of-type(3n-1) header { background-color: #4f4f4f; margin-right: 20px; padding-left: 16px; }
h3 { color: #fff; font-weight: 200; }
h4 { font-size: 18px; font-weight: 200; }
section:nth-of-type(3n-1) p:first-of-type { padding-right: 46px; }
footer { text-align: center; border-top: 2px solid #000; }
footer a { font-size: 14px; }
footer a:after { content: '|'; padding-left: 5px; }
footer a:last-of-type:after { content: ' '; }
footer p { font-size: 14px; margin: 4px 0 0 0; }
footer p:before {
	font-size: 20px;
	content: '\00a9';
	padding-right: 4px; 
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}